.card{
    background-color: #221f1f;
}
.card p{
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: #868788;
}
.card p a{
    font-family: Arial,sans-serif;
    font-size: 15px;
    color: #7A7D82;
}
section.section--border{
    border-top: 1px solid #221f1f;
    padding:70px 0px;
    position:relative;
}
section .section--border .price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #222028;
    border-radius: 6px;
    margin-top: 30px;
    position: relative;

}
.price__item--first {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    border: none;
    color: #fff;
    justify-content: space-between;
}
.price__item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: #fff;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #1a191f;
    position: relative;
}
.price__item span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.price__item--first span:last-child {
    font-weight: 400;
    color: #f9ab00;
    display: block;
    font-size: 32px;
    line-height: 100%;
}
.price__item span {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.price__item--first {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
    padding-top: 0;
    border: none;
    color: #fff;
    justify-content: space-between;
}
.price__item i {
    font-size: 24px;
    margin-right: 10px;
    line-height: 100%;
    color: #29b474;
    margin-top: 2px;
}
.price__item--none i {
    color: #eb5757;
}
.price__btn {
    margin-top: 30px;
}
.price__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 50%;
    font-family: serif,sans-serif;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 2px solid #f9ab00;
}
.price__item a {
    transition: 0.4s;
    transition-property: color, background-color, border-color, opacity;
}