<link rel="stylesheet" href="../static/kids/test.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section class="w3l-main-slider container position-relative" id="home" style="padding-bottom: 20px">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2"
                         style="background: url(/media/static/images/ssf9.jpg) no-repeat center;">
                        <div class="banner-info">
                            <h3>F9 movie</h3>
                            <p>F9 (also known as F9: The Fast Saga and Fast & Furious 9) is a 2021 American action film
                                directed by Justin Lin from a screenplay by Daniel Casey and Lin..<span
                                        class="over-para"></span></p>
                            <a data-toggle="modal" data-target="#myModal5" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span style="color:red;" class="fa fa-play" aria-hidden="true"></span>
									</span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                        </div>
                    </div>
                </li>
            </div>

            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2"
                         style="background: url(/media/static/images/tarjen.jpg) no-repeat center;">
                        <div class="banner-info">
                            <h3>Tarzan movie</h3>
                            <p> Tarzan (John Clayton II, Viscount Greystoke) is a fictional character, an archetypal
                                feral child raised in the African jungle by the Mangani great apes; he later experiences
                                civilization, only to reject it and return to the wild as a heroic adventurer..<span
                                        class="over-para"></span></p>
                            <a data-toggle="modal" data-target="#myModal6" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span style="color:red;" class="fa fa-play" aria-hidden="true"></span>
									</span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->

                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2"
                         style="background: url(/media/static/images/7.jpg) no-repeat center;">
                        <div class="banner-info">
                            <h3>The Conjuring2</h3>
                            <p>Plot. In 1976, paranormal investigators Ed and Lorraine Warren investigate the Amityville
                                murders at the Amityville house, to determine if a demonic presence was truly
                                responsible for Ronald DeFeo <span class="over-para"></span></p>
                            <a data-toggle="modal" data-target="#myModal7" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span style="color:red;" class="fa fa-play" aria-hidden="true"></span>
									</span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->

                        </div>
                    </div>
                </li>
            </div>
            <div class="item">
                <li>
                    <div class="slider-info banner-view bg bg2"
                         style="background: url(/media/static/images/red.jpg) no-repeat center;">
                        <div class="banner-info">
                            <h3>RED movie</h3>
                            <p>Red represents physical energy, lust, passion, and desire. ... The color red is an
                                intense color that is packed with emotion ranging from passionate, intense love to anger
                                and violence <span class="over-para"></span></p>
                            <a data-toggle="modal" data-target="#myModal8" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span style="color:red;" class="fa fa-play" aria-hidden="true"></span>
									</span>
                                <h6>Watch Trailer</h6>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->


                        </div>
                    </div>
                </li>
            </div>


        </div>
    </div>
</section>

<div class="modal" id="myModal5">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent">
            <iframe width="800px" height="560px"
                    src="https://www.youtube.com/embed/aSiDu3Ywi8E"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="margin-left: -130px;margin-right: -40px"></iframe>
        </div>
    </div>
</div>
<div class="modal" id="myModal6">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent">
            <iframe width="800px" height="560px"
                    src="https://www.youtube.com/embed/Aj7ty6sViiU"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="margin-left: -130px;margin-right: -40px"></iframe>
        </div>
    </div>
</div>
<div class="modal" id="myModal7">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent">
            <iframe width="800px" height="560px"
                    src="https://www.youtube.com/embed/VFsmuRPClr4"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="margin-left: -130px;margin-right: -40px"></iframe>
        </div>
    </div>
</div>
<div class="modal" id="myModal8">
    <div class="modal-dialog">
        <div class="modal-content" style="background: transparent">
            <iframe width="800px" height="560px"
                    src="https://www.youtube.com/embed/q_XYrHrC7uc"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="margin-left: -130px;margin-right: -40px"></iframe>
        </div>
    </div>
</div>


{#<script src="../static/jquery-1.9.1.min.js"></script>#}
<script src="../static/kids/js/owl.carousel.js"></script>
<script src="../static/kids/js/testjs.js"></script>
<script src="../static/kids/js/jquery.magnific-popup.min.js"></script>
