{% extends 'dashboard/base.html' %}
{% block content %}
	<!-- main content -->
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Users</h2>

						<span class="main__title-stat">3,702 Total</span>

						<div class="main__title-wrap">
							<!-- filter sort -->
							<div class="filter" id="filter__sort">
								<span class="filter__item-label">Sort by:</span>

								<div class="filter__item-btn dropdown-toggle" role="navigation" id="filter-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<input type="button" value="Date created">
									<span></span>
								</div>

								<ul class="filter__item-menu dropdown-menu scrollbar-dropdown" aria-labelledby="filter-sort">
									<li>Date created</li>
									<li>Pricing plan</li>
									<li>Status</li>
								</ul>
							</div>
							<!-- end filter sort -->

							<!-- search -->
							<form action="#" class="main__title-form">
								<input type="text" placeholder="Find user..">
								<button type="button">
									<i class="icon ion-ios-search"></i>
								</button>
							</form>
							<!-- end search -->
						</div>
					</div>
				</div>
				<!-- end main title -->

				<!-- users -->
				<div class="col-12">
					<div class="main__table-wrap">
						<table class="main__table">
							<thead>
								<tr>
									<th>ID</th>
                                    <th>BASIC INFO</th>
									<th>USERNAME</th>
									<th>PRICING PLAN</th>
                                    <th>EXPIRED DATE</th>
									<th>STATUS</th>
									<th>ACTIONS</th>
								</tr>
							</thead>
{% for i in user %}
							<tbody>
								<tr>
									<td>
										<div class="main__table-text">{{ forloop.counter }}</div>
									</td>
									<td>
										<div class="main__user">
											<div class="main__meta">
												<h3>{{ i.user_membership.user.username }}</h3>
												<span>{{ i.user_membership.user.email }}</span>
											</div>
										</div>
									</td>
									<td>
										<div class="main__table-text">{{ i.user_membership.user.username }}</div>
									</td>

									<td>
										<div class="main__table-text">{{ i.user_membership.membership }}</div>
									</td>

                                    <td>
										<div class="main__table-text">{{ i.expires_in }}</div>
									</td>

                                    <td>
                                        {% if i.active == 0 %}
										<div class="main__table-text" style="color: red">Inactive</div>
                                        {% else %}
                                        <div class="main__table-text" style="color: darkgreen">Active</div>
                                        {% endif %}
									</td>

									<td>
										<div class="main__table-btns">
											<a href="{% url 'update_user' i.id %}" class="main__table-btn main__table-btn--edit">
												<i class="icon ion-ios-create"></i>
											</a>
											<a href="{% url 'delete_user' i.id %}" class="main__table-btn main__table-btn--delete">
												<i class="icon ion-ios-trash"></i>
											</a>
										</div>
									</td>
								</tr>

							</tbody>
                            {% endfor %}
						</table>
					</div>
				</div>
				<!-- end users -->

				<!-- paginator -->
				<div class="col-12">
					<div class="paginator-wrap">
						<span>10 from 3 702</span>

						<ul class="paginator">
							<li class="paginator__item paginator__item--prev">
								<a href="#"><i class="icon ion-ios-arrow-back"></i></a>
							</li>
							<li class="paginator__item"><a href="#">1</a></li>
							<li class="paginator__item paginator__item--active"><a href="#">2</a></li>
							<li class="paginator__item"><a href="#">3</a></li>
							<li class="paginator__item"><a href="#">4</a></li>
							<li class="paginator__item paginator__item--next">
								<a href="#"><i class="icon ion-ios-arrow-forward"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<!-- end paginator -->
			</div>
		</div>
	</main>
	<!-- end main content -->



	{% endblock %}